body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    font-family: quicksand;
}

nav {
    grid-column: 1/ span 2;
    display: flex;
    justify-content: space-around;
    margin: 40px 0 70px 0;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    transition: font-size 1s;
}

nav a:hover {
    cursor: pointer;
    font-size: 25px;
}

nav a:visited {
    color: #000;
}

.add {
    grid-column: 1;
}

.add h3 {
    text-align: center;
    font-size: 30px;
}

.add form {
    display: flex;
    flex-direction: column;
}

.add p {
    text-align: center;
    margin: 20px;

}

#input {
    width: 250px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000;
    font-size: 15px;

}

.connex {
    grid-column: 2;
}

.connex h3 {
    text-align: center;
    font-size: 30px;
}

.connex form {
    display: flex;
    flex-direction: column;
    padding-top: 120px;

}

.connex p {
    margin: 20px;
    text-align: center;
}